{{#> layout }}
<h1>Tutorials</h1>
{{#each tutorialsByTag}}
<h2 id="{{tag}}" class="h5">#{{tag}}</h2>
<ul class="index">
  {{#each tutorials}}
  <li>
    <a href="{{name}}/">{{title}}</a>
  </li>
  {{/each}}
</ul>
{{/each}}
{{/layout}}
